USE [cmpt354_bank]
GO
/****** Object:  Table [dbo].[Branch]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Branch](
	[branchNumber] [int] NOT NULL,
	[branchName] [varchar](20) NULL,
	[managerSIN] [int] NULL,
	[budget] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Branch] PRIMARY KEY CLUSTERED 
(
	[branchNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Branch] ([branchNumber], [branchName], [managerSIN], [budget]) VALUES (1, 'London', 55700, CAST(3200000.00 AS Decimal(18, 2)))
INSERT [dbo].[Branch] ([branchNumber], [branchName], [managerSIN], [budget]) VALUES (2, 'Latveria', 51850, CAST(2500000.00 AS Decimal(18, 2)))
INSERT [dbo].[Branch] ([branchNumber], [branchName], [managerSIN], [budget]) VALUES (3, 'New York', 31964, CAST(2750000.00 AS Decimal(18, 2)))
/****** Object:  Table [dbo].[Account]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[accNumber] [int] NOT NULL,
	[type] [nchar](3) NULL,
	[balance] [decimal](18, 2) NULL,
	[branchNumber] [int] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[accNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([accNumber], [type], [balance], [branchNumber]) VALUES (1, 'SAV', CAST(118231.13 AS Decimal(18, 2)), 1)
INSERT [dbo].[Account] ([accNumber], [type], [balance], [branchNumber]) VALUES (2, 'CHQ', CAST(100808.03 AS Decimal(18, 2)), 1)
INSERT [dbo].[Account] ([accNumber], [type], [balance], [branchNumber]) VALUES (3, 'CHQ', CAST(77231.12 AS Decimal(18, 2)), 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Transactions]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transactions](
	[accNumber] [int] NOT NULL,
	[transNumber] [int] NOT NULL,
	[amount] [decimal](18, 2) NULL,
 CONSTRAINT [PK_Transactions] PRIMARY KEY CLUSTERED 
(
	[accNumber] ASC,
	[transNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Transactions] ([accNumber], [transNumber], [amount]) VALUES (1, 1, CAST(109587.15 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([accNumber], [transNumber], [amount]) VALUES (1, 2, CAST(3267.90 AS Decimal(18, 2)))
INSERT [dbo].[Transactions] ([accNumber], [transNumber], [amount]) VALUES (1, 3, CAST(3833.03 AS Decimal(18, 2)))
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
GO
print 'Processed 700 total records'
GO
print 'Processed 800 total records'
GO
print 'Processed 900 total records'
GO
print 'Processed 1000 total records'
GO
print 'Processed 1100 total records'
GO
print 'Processed 1200 total records'
GO
print 'Processed 1300 total records'
GO
print 'Processed 1400 total records'
GO
print 'Processed 1500 total records'
GO
print 'Processed 1600 total records'
GO
print 'Processed 1700 total records'
GO
print 'Processed 1800 total records'
GO
print 'Processed 1900 total records'
GO
print 'Processed 2000 total records'
GO
print 'Processed 2100 total records'
GO
print 'Processed 2200 total records'
GO
print 'Processed 2300 total records'
GO
print 'Processed 2400 total records'
GO
print 'Processed 2500 total records'
/****** Object:  Table [dbo].[Employee]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[sin] [int] NOT NULL,
	[firstName] [varchar](20) NULL,
	[lastName] [varchar](20) NULL,
	[salary] [int] NULL,
	[branchNumber] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[sin] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([sin], [firstName], [lastName], [salary], [branchNumber]) VALUES (11185, 'Sandra', 'Clark', 39466, 1)
INSERT [dbo].[Employee] ([sin], [firstName], [lastName], [salary], [branchNumber]) VALUES (11285, 'Rebecca', 'Simmons', 93779, 3)
INSERT [dbo].[Employee] ([sin], [firstName], [lastName], [salary], [branchNumber]) VALUES (11499, 'John', 'Bailey', 27769, 4)
/****** Object:  Table [dbo].[Customer]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customerID] [int] NOT NULL,
	[firstName] [varchar](20) NULL,
	[lastName] [varchar](20) NULL,
	[income] [int] NULL,
	[birthDate] [date] NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Customer] ([customerID], [firstName], [lastName], [income], [birthDate]) VALUES (10839, 'Amy', 'Hayes', 24386, CAST(0xD6030B00 AS Date))
INSERT [dbo].[Customer] ([customerID], [firstName], [lastName], [income], [birthDate]) VALUES (11696, 'Denise', 'Lopez', 16409, CAST(0x79B70A00 AS Date))
INSERT [dbo].[Customer] ([customerID], [firstName], [lastName], [income], [birthDate]) VALUES (11790, 'Benjamin', 'Green', 54011, CAST(0x26B30A00 AS Date))
GO
print 'Processed 100 total records'
/****** Object:  Table [dbo].[Owns]    Script Date: 10/23/2015 08:39:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Owns](
	[customerID] [int] NOT NULL,
	[accNumber] [int] NOT NULL,
 CONSTRAINT [PK_Owns] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC,
	[accNumber] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Owns] ([customerID], [accNumber]) VALUES (10839, 15)
INSERT [dbo].[Owns] ([customerID], [accNumber]) VALUES (10839, 296)
INSERT [dbo].[Owns] ([customerID], [accNumber]) VALUES (11696, 45)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
/****** Object:  ForeignKey [FK_Account_Branch]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Account]  WITH CHECK ADD  CONSTRAINT [FK_Account_Branch] FOREIGN KEY([branchNumber])
REFERENCES [dbo].[Branch] ([branchNumber])
GO
ALTER TABLE [dbo].[Account] CHECK CONSTRAINT [FK_Account_Branch]
GO
/****** Object:  ForeignKey [FK_Branch_Employee]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Branch]  WITH CHECK ADD  CONSTRAINT [FK_Branch_Employee] FOREIGN KEY([managerSIN])
REFERENCES [dbo].[Employee] ([sin])
GO
ALTER TABLE [dbo].[Branch] CHECK CONSTRAINT [FK_Branch_Employee]
GO
/****** Object:  ForeignKey [FK_Employee_Branch]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Branch] FOREIGN KEY([branchNumber])
REFERENCES [dbo].[Branch] ([branchNumber])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Branch]
GO
/****** Object:  ForeignKey [FK_Owns_Account]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Owns]  WITH CHECK ADD  CONSTRAINT [FK_Owns_Account] FOREIGN KEY([accNumber])
REFERENCES [dbo].[Account] ([accNumber])
GO
ALTER TABLE [dbo].[Owns] CHECK CONSTRAINT [FK_Owns_Account]
GO
/****** Object:  ForeignKey [FK_Owns_Customer]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Owns]  WITH CHECK ADD  CONSTRAINT [FK_Owns_Customer] FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([customerID])
GO
ALTER TABLE [dbo].[Owns] CHECK CONSTRAINT [FK_Owns_Customer]
GO
/****** Object:  ForeignKey [FK_Transactions_Account]    Script Date: 10/23/2015 08:39:38 ******/
ALTER TABLE [dbo].[Transactions]  WITH CHECK ADD  CONSTRAINT [FK_Transactions_Account] FOREIGN KEY([accNumber])
REFERENCES [dbo].[Account] ([accNumber])
GO
ALTER TABLE [dbo].[Transactions] CHECK CONSTRAINT [FK_Transactions_Account]
GO
